sf-src/force-app/main/default/flows/Event_Update_Opportunity_NextMeeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>行動_商談次回ミーティング日更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>行動_商談次回ミーティング日更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <doesRequireRecordChangedToMeetCriteria>false</doesRequireRecordChangedToMeetCriteria>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>商談を取得</label>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.WhatId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Check_Opportunity_Found</name>
        <label>商談が見つかったか</label>
        <locationX>50</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>商談ではない</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Meeting_Date</targetReference>
            </connector>
            <label>商談あり</label>
        </rules>
    </decisions>
    <recordUpdates>
        <name>Update_Next_Meeting_Date</name>
        <label>次回ミーティング日を更新</label>
        <locationX>50</locationX>
        <locationY>402</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.WhatId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>NextMeetingDate__c</field>
            <value><elementReference>$Record.StartDateTime</elementReference></value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
</Flow>
