sf-src/force-app/main/default/flows/Lead_Auto_Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>リード_商談自動作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>リード_商談自動作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>商談</stringValue></value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <connector>
            <targetReference>Get_Account_By_Company</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Company}),
  {!$Record.LastName} &amp; "　" &amp; {!$Record.FirstName} &amp; " 商談",
  {!$Record.Company} &amp; " 商談"
)</expression>
    </formulas>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <recordLookups>
        <name>Get_Account_By_Company</name>
        <label>会社名でアカウントを検索</label>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.Company</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Check_Account_Found</name>
        <label>アカウントが見つかったか</label>
        <locationX>50</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>アカウントなし</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Create_Opportunity_Without_Account</targetReference>
        </defaultConnector>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_By_Company.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_With_Account</targetReference>
            </connector>
            <label>アカウントあり</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_Opportunity_With_Account</name>
        <label>商談を作成（アカウントあり）</label>
        <locationX>50</locationX>
        <locationY>402</locationY>
        <inputAssignments>
            <field>Name</field>
            <value><elementReference>OppName</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value><elementReference>Get_Account_By_Company.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value><stringValue>商談設定済み</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value><elementReference>CloseDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_Owner__c</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>$Record.Description</elementReference></value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Without_Account</name>
        <label>商談を作成（アカウントなし）</label>
        <locationX>200</locationX>
        <locationY>402</locationY>
        <inputAssignments>
            <field>Name</field>
            <value><elementReference>OppName</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value><stringValue>商談設定済み</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value><elementReference>CloseDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_Owner__c</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>$Record.Description</elementReference></value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
</Flow>
