sf-src/force-app/main/default/flows/Task_Update_Opportunity_Approach.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>タスク_商談アプローチ情報更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>タスク_商談アプローチ情報更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <doesRequireRecordChangedToMeetCriteria>false</doesRequireRecordChangedToMeetCriteria>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <formulas>
        <name>ApproachMethodLabel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.TaskSubtype}, "Call"), "電話",
  IF(ISPICKVAL({!$Record.TaskSubtype}, "Email"), "メール",
    IF(ISPICKVAL({!$Record.TaskSubtype}, "LinkedIn"), "LinkedIn",
      IF(ISPICKVAL({!$Record.TaskSubtype}, "ListEmail"), "リストメール",
        IF(ISPICKVAL({!$Record.TaskSubtype}, "Cadence"), "ケイデンス",
          "その他"
        )
      )
    )
  )
)</expression>
    </formulas>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>商談を取得</label>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.WhatId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Check_Opportunity_Found</name>
        <label>商談が見つかったか</label>
        <locationX>50</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>商談ではない</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Approach</targetReference>
            </connector>
            <label>商談あり</label>
        </rules>
    </decisions>
    <recordUpdates>
        <name>Update_Opportunity_Approach</name>
        <label>商談のアプローチ情報を更新</label>
        <locationX>50</locationX>
        <locationY>402</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.WhatId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>LastApproachDate__c</field>
            <value><elementReference>$Record.ActivityDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>LastApproachMethod__c</field>
            <value><elementReference>ApproachMethodLabel</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>LastApproachBy__c</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
</Flow>
